In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

In [3]:
dataframe = pd.read_csv("F:\Practice\language.csv")
dataframe.head()

                                                Text  language
0  klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1  sebes joseph pereira thomas  på eng the jesuit...   Swedish
2  ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai
3  விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     Tamil
4  de spons behoort tot het geslacht haliclona en...     Dutch

# ***feature_extraction.text  : CountVectorizer***

In [4]:
#Create a CountVectorizer object
vectorizer = CountVectorizer()
# Sample text data
data = ["data science","machine learning"]
#Fit and transform the data
vectorized_data = vectorizer.fit_transform(data)
#Get the vocabulary (Unique Words)
print(vectorizer.get_feature_names_out())
#Convert the result to an array
print(vectorized_data.toarray())

['data' 'learning' 'machine' 'science']
[[1 0 0 1]
 [0 1 1 0]]

# ***naive_bayes : MultinomialNB***

In [6]:
#Sample emails
emails = ["Akash","Ahad","Badal","Mehdi"]
labels = [0,1,0,1]
# Step 1: Covert text into numbers
vectorizer = CountVectorizer()
vector = vectorizer.fit_transform(emails)
# Step 2: Train the MultinomialNB model
model = MultinomialNB()
model.fit(vector,labels)
# Step 3: Predict if a new email is spam or not
new_email = ["Win money now!"]
new_email_vector = vectorizer.transform(new_email)
prediction = model.predict(new_email_vector)
print(prediction)

[0]

In [7]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22000 entries, 0 to 21999
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Text      22000 non-null  object
 1   language  22000 non-null  object
dtypes: object(2)
memory usage: 343.9+ KB

In [8]:
dataframe.head()

                                                Text  language
0  klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1  sebes joseph pereira thomas  på eng the jesuit...   Swedish
2  ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai
3  விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     Tamil
4  de spons behoort tot het geslacht haliclona en...     Dutch

In [9]:
dataframe.isnull().sum()

Text        0
language    0
dtype: int64

In [10]:
dataframe['language'].value_counts()

language
Estonian      1000
Swedish       1000
Thai          1000
Tamil         1000
Dutch         1000
Japanese      1000
Turkish       1000
Latin         1000
Urdu          1000
Indonesian    1000
Portugese     1000
French        1000
Chinese       1000
Korean        1000
Hindi         1000
Spanish       1000
Pushto        1000
Persian       1000
Romanian      1000
Russian       1000
English       1000
Arabic        1000
Name: count, dtype: int64

In [11]:
text = np.array(dataframe['Text'])
language = np.array(dataframe['language'])
print(text)

['klement gottwaldi surnukeha palsameeriti ning paigutati mausoleumi surnukeha oli aga liiga hilja ja oskamatult palsameeritud ning hakkas ilmutama lagunemise tundemärke  aastal viidi ta surnukeha mausoleumist ära ja kremeeriti zlíni linn kandis aastatel – nime gottwaldov ukrainas harkivi oblastis kandis zmiivi linn aastatel – nime gotvald'
 'sebes joseph pereira thomas  på eng the jesuits and the sino-russian treaty of nerchinsk  the diary of thomas pereira bibliotheca instituti historici s i --   rome libris '
 'ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เริ่มตั้งแต่ถนนสนามไชยถึงแม่น้ำเจ้าพระยาที่ถนนตก กรุงเทพมหานคร เป็นถนนรุ่นแรกที่ใช้เทคนิคการสร้างแบบตะวันตก ปัจจุบันผ่านพื้นที่เขตพระนคร เขตป้อมปราบศัตรูพ่าย เขตสัมพันธวงศ์ เขตบางรัก เขตสาทร และเขตบางคอแหลม'
 ...
 'con motivo de la celebración del septuagésimoquinto ° aniversario de la fundación del departamento en  guillermo ceballos espinosa presentó a la gobernación de caldas por encargo de su titular dilia estrada de gómez el himno que fue adoptado para solemnizar dicha efemérides y que siguieron interpretando las bandas de música y los planteles de educación de esta sección del país en retretas y actos oficiales con gran aceptación[]\u200b'
 '年月，當時還只有歲的她在美國出道，以mai-k名義推出首張英文《baby i like》，由美國的獨立廠牌bip·record發行，以外國輸入盤的形式在日本發售，旋即被抢购一空。其後於月日發行以倉木麻衣名義發行的首張日文單曲《love day after tomorrow》，正式於日本出道。這張單曲初動銷量只得約萬張，可是其後每週銷量一直上升，並於年月正式突破百萬銷量，合计万张。成為年最耀眼的新人歌手。'
 ' aprilie sonda spațială messenger a nasa și-a încheiat misiunea de studiu de  ani prăbușindu-se pe suprafața planetei mercur sonda a rămas fără combustibil fiind împinsă de gravitația solară din ce în ce mai aproape de mercur']

In [12]:
print(language)

['Estonian' 'Swedish' 'Thai' ... 'Spanish' 'Chinese' 'Romanian']

In [15]:
cv = CountVectorizer()
transform = cv.fit_transform(text)
transform_train, transform_test, language_train, language_test = train_test_split(transform,language,test_size=0.33)

In [16]:
model = MultinomialNB()
model.fit(transform_train, language_train)
model.score(transform_test, language_test)

0.9538567493112947

In [23]:
user = input("Enter a Text: ")
data = cv.transform([user]).toarray()
output = model.predict(data)
print(output)

Enter a Text:  ถนนเจริญกรุง อักษรโรมัน

['Thai']